html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}
body {
  background-color: rgb(244,255,255);

}

body > div {
  margin: 15px auto;
  text-align: center;
}
.tile {
  /* Set the dimensions of each tile. */
  width: 50px;
  height: 50px;

  /* Make them sit snugly together */
  display: inline-block;
  vertical-align: top;
}
/*-----------------------------------------------------------*/
/* larva will encounter walls and apple to eat.                    */
/* larva can't move through walls, but can eat apple.       */
/*-----------------------------------------------------------*/

/* Walls are blue with an off-blue border. */
.wall {
  background-color: rgb(0,0,128);
  border: 2px solid rgb(30,144,255);
}
.apple {
  background-image: url('../images/images.png');
  transform:scale(0.4);
  
}
.poop{
  background-image: url('../images/poop.png');
  transform:scale(0.4);
}
.larva {
  /* Image urls are relative to the stylesheet.      */
  /* The '../images' means: "go to the parent folder */
  /* then look inside the images folder.             */
  background-image: url('../images/right.png');
}
.left {
  background-image: url('../images/left.png');
}
.up {
  background-image: url('../images/up.png');
}
.down {
  background-image: url('../images/down.png');
}
#score{
  font-size: 25px;
  color: red;
  text-align: center;
  font-style: arial;
}
.timeWrap {
  margin: 30px auto;
  font-size: 25px;
 color: red;
 font-style: arial;
}
#gameOverBox{
  background-color: pink;
  text-align: center;
  text-transform: uppercase;
  border: 2px solid black;
  font-weight: bold;
  width:150px;
  height:100px;
  display: none;

}
#gameOverButton{
  font-weight: bold;
  text-transform: uppercase;
  margin-top: 5px;
  border:none;
}
#nextLevelButton{
  font-weight: bold;
  text-transform: uppercase;
  margin-top: 5px;
  border:none;
}
#nextLevelBox{
  background-color: grb(0,0,128 );
  text-align: center;
  text-transform: uppercase;
  border: 2px solid black;
  font-weight: bold;
  width:150px;
  height:70px;
  display: none;
}
#gameOverButton:hover, #nextLevelButton:hover{
  background-color: blue;
  color:skyblue;
}